body {
    box-sizing: border-box;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: 95vh;
    @media (orientation: portrait) {
        height: 100vh;
        width: 100vw;
    }
}

#start-button, #exit-button {
    width: 180px;
    min-height: 40px;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    align-self: flex-start;


    z-index: 2;
    font-size: large;
    color: ghostwhite;
    background-color: #0a53be;
}

#test-slider {
    width: 180px;
    min-height: 40px;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    align-self: end;
    justify-self: flex-start;

    z-index: 2;
}

