/* start css - Sissi */

/* de kleuren van de styleguide */

body {
    width: 1080px;
    height: 2160px;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: whitesmoke;
}


:root {
    --products-white: #ffffff;
    --products-lightergrey: #d1d3d4;
    --products-lightgrey: #a7a9ac;
    --products-grey: #808285;
    --products-darkgrey: #58595b;
    --products-darkergrey: #414042;
    --products-red: #a71e23;
    --products-green: #277a1b;
}

* {
    margin: 0;
    background-color: var(--products-lightergrey);
}

h1 {
    font-size: 3rem;
    font-family: "Segoe UI Black";
}

h2 {
    font-size: 2rem;
    font-family: "Segoe UI";
}

h3 {
    font-size: 1.5rem;
    font-family: "Segoe UI Semibold";
}

#products-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;

    background-color: var(--products-white);
}

.product-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    padding: 0.5vw;

    max-width: 35vw;
}

img {
    width: 25vw;
}

#page-loader {
    height: 90vh;
    width: 100vw;
}


main {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
    @media (orientation: portrait) {
        height: 80vh;
        width: 100vw;
    }
}

footer {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}


.nav-button {
    min-height: 40px;
    padding: 5px;
    width: 100%;
    height: 100%;
    font-size: 55px;
    border-radius: 35px;
    color: ghostwhite;
    background-color: #0a53be;

}

iframe {
    height: 90vh;
    width: 100vw;
}

.nav-buttons-div {
    width: 50%;
    height: 100%;
    display: flex;
    place-content: center;
}