/* start css - Sissi */

/* de kleuren van de styleguide */
:root {
    --products-white: #ffffff;
    --products-lightergrey: #d1d3d4;
    --products-lightgrey: #a7a9ac;
    --products-grey: #808285;
    --products-darkgrey: #58595b;
    --products-darkergrey: #414042;
    --products-red: #a71e23;
    --products-green: #277a1b;
}

* {
    margin: 0;
}

h1 {
    font-size: 3rem;
    font-family: "Segoe UI Black";
}

h2 {
    font-size: 2rem;
    font-family: "Segoe UI";
}

h3 {
    font-size: 1.5rem;
    font-family: "Segoe UI Semibold";
}

header {
    background-color: var(--products-lightergrey);

}

header, h1 {
    min-height: calc(25vh - 80px);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Airissa's CSS*/

#shop-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
    gap: 10px;

    background-color: var(--products-white);
}

#find-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--products-lightergrey);

    img {
        height: 20vh;
        width: 10vw;
    }

    h2 {
        font-size: 2rem;
    }

    input {
        padding: 0 1vw;
        background-color: white;
        border-color: white;
        height: 10vh;
        width: 50vw;
        font-size: 2rem;
    }

}

.shopAddress-card {
    background-color: var(--products-lightergrey);
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    padding: 0.5vw;
    align-items: center;

    max-width: 35vw;
}

.shopAddress-card img {
    width: 15vw;
}

#play-form {
    display: flex;
    justify-content: center;
}

footer {
    padding: 5vh 10vw;
    text-align: center;
    background-color: var(--products-lightgrey);
}

footer h3 {
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    .shopAddress-card {
        max-width: 50vw;

    }

    #find-shop {
        img {
            height: 15vh;
            width: auto;
        }

        input {

            height: 5vh;
            width: 50%;
        }
    }

    /*.product-card h2 {*/
    /*    font-size: 1.5rem;*/
    /*}*/
    .shopAddress-card h3 {
        font-size: 1.5rem;
    }

    .shopAddress-card img {
        width: 40vw;
    }

}