/* start css - Sissi */

/* de kleuren van de styleguide */
:root {
    --products-white: #ffffff;
    --products-lightergrey: #d1d3d4;
    --products-lightgrey: #a7a9ac;
    --products-grey: #808285;
    --products-darkgrey: #58595b;
    --products-darkergrey: #414042;
    --products-red: #a71e23;
    --products-green: #277a1b;
}

* {
    margin: 0;
    background-color: var(--products-lightergrey);
}

h1 {
    font-size: 3rem;
    font-family: "Segoe UI Black";
}

h2 {
    font-size: 2rem;
    font-family: "Segoe UI";
}

h3 {
    font-size: 1.5rem;
    font-family: "Segoe UI Semibold";
}

header, h1 {
    min-height: calc(25vh - 80px);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Airissa's CSS*/

#shop-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
    gap: 10px;

    background-color: var(--products-white);
}

.shopAddress-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    padding: 0.5vw;
    align-items: center;

    max-width: 35vw;
}

.shopAddress-card img {
    width: 15vw;
}

main {
    padding: 2vw;
}

form {
    img {
        height: 15vw;
        width: auto;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#search-bar {
    height: 20vw;
    width: 30vw;
}

#play-form {
    display: flex;
    justify-content: center;
}

.form-search {

}

@media (max-width: 480px) {
    /*#find-product img {*/
    /*    width: 20vw;*/
    /*}*/
    /*#find-product input {*/
    /*    height: 5vh;*/
    /*}*/
    .shopAddress-card {
        max-width: 50vw;

    }

    /*.product-card h2 {*/
    /*    font-size: 1.5rem;*/
    /*}*/
    .shopAddress-card h3 {
        font-size: 1.5rem;
    }

    .shopAddress-card img {
        width: 40vw;
    }

    /*button {*/
    /*    padding: 3vh 5vw;*/
    /*}*/
}